USE [master]
GO
/****** Object:  Database [Hakaton]    Script Date: 6/15/2022 9:59:45 PM ******/
CREATE DATABASE [Hakaton]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hakaton', FILENAME = N'C:\Users\pejci\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Hakaton.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hakaton_log', FILENAME = N'C:\Users\pejci\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Hakaton.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hakaton].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hakaton]
GO
USE [Hakaton]
GO
/****** Object:  Table [dbo].[Mesto]    Script Date: 6/15/2022 9:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesto](
	[PostanskiBroj] [int] NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PostanskiBroj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plasman]    Script Date: 6/15/2022 9:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plasman](
	[RedniBroj] [int] NOT NULL,
	[TimId] [int] NOT NULL,
	[TakmicenjeId] [int] NOT NULL,
	[BrojPoena] [int] NULL,
	[Datum] [datetime] NULL,
	[Rang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TimId] ASC,
	[TakmicenjeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Takmicar]    Script Date: 6/15/2022 9:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Takmicar](
	[TakmicarId] [int] IDENTITY(1,1) NOT NULL,
	[JMBG] [varchar](50) NOT NULL,
	[Ime] [varchar](50) NOT NULL,
	[Prezime] [varchar](50) NOT NULL,
	[Pol] [varchar](50) NULL,
	[TimId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TakmicarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Takmicenje]    Script Date: 6/15/2022 9:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Takmicenje](
	[TakmicenjeId] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
	[MestoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TakmicenjeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tim]    Script Date: 6/15/2022 9:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tim](
	[TimId] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Plasman]  WITH CHECK ADD  CONSTRAINT [FK_Table_Takmicenje] FOREIGN KEY([TakmicenjeId])
REFERENCES [dbo].[Takmicenje] ([TakmicenjeId])
GO
ALTER TABLE [dbo].[Plasman] CHECK CONSTRAINT [FK_Table_Takmicenje]
GO
ALTER TABLE [dbo].[Plasman]  WITH CHECK ADD  CONSTRAINT [FK_Table_Tim] FOREIGN KEY([TimId])
REFERENCES [dbo].[Tim] ([TimId])
GO
ALTER TABLE [dbo].[Plasman] CHECK CONSTRAINT [FK_Table_Tim]
GO
ALTER TABLE [dbo].[Takmicar]  WITH CHECK ADD  CONSTRAINT [FK_Takmicar_Tim] FOREIGN KEY([TimId])
REFERENCES [dbo].[Tim] ([TimId])
GO
ALTER TABLE [dbo].[Takmicar] CHECK CONSTRAINT [FK_Takmicar_Tim]
GO
ALTER TABLE [dbo].[Takmicenje]  WITH CHECK ADD  CONSTRAINT [FK_Takmicenje_Mesto] FOREIGN KEY([MestoId])
REFERENCES [dbo].[Mesto] ([PostanskiBroj])
GO
ALTER TABLE [dbo].[Takmicenje] CHECK CONSTRAINT [FK_Takmicenje_Mesto]
GO
USE [master]
GO
